[submodule "test/Catch2"]
	path = test/Catch2
	url = https://github.com/catchorg/Catch2
[submodule "external/zlib"]
	path = external/zlib
	url = https://github.com/madler/zlib
[submodule "external/lua"]
	path = external/lua
	url = git@github.com:lua/lua.git
